:root {
  --c-primary: #0080ff;
  --c-background: #ebf6ff;
  --c-text: #17334f;
  --c-primary-text: #0075eb;
  --c-hover-white: #ebf0f5;
  --c-border: #667380;
  --c-border-light: #c8d6e4;
  --c-shadow: hsla(210, 100%, 50%, 0.15);
  --border-radius: 8px;
  --transition-duration: 0.2s;
  --animation-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  color: var(--c-text);
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: 0;
}

table {
  border-spacing: 0;
}

span {
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}
