:root {
  --c-primary: #ff941a;
  --c-background: #fffefc;
  --c-text: #17334f;
  --c-supporting-text: #595650;
  --c-border: #807866;
  --c-border-light: #e4dcc8;
  --c-shadow: hsla(32, 100%, 50%, 0.15);
  --transition-duration: 0.2s;
  --animation-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  color: var(--c-text);
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: 0;
}

table {
  border-spacing: 0;
}

span {
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  font-family: "Noto Sans JP", sans-serif;
  color: var(--c-text);
}
