.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 12px 20px;
  font-weight: 700;
}

.title {
  font-size: 20px;
}

.mainContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 12px;
}
